@font-face {
    font-family: Mont;
    src: url(Mont.otf);
  }
  body {
   font-family: Mont;
   background-image: url(bg2.jpg);
   background-size: 40%;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50px;
    background-color: #252A37;
}
li {
    float: right;
  }
li a {
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #z {
    position: absolute;
    left: 120px;
    top:50px;
}
#qq:hover {
    color : maroon;
  }
#us {
    color:yellow;
    font-size: larger;
}
#tpl{
    width: 600px;
    margin: auto;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
}
#d {
    color: #bf0a30;
    font-size: larger;
}
#bdr {
    position: absolute;
    left: 20px;
    top:40px;
        
}
#br {
    width: 70px;
}
#mrq {
    position: absolute;
    right: 22%;
    top:170px;
    width:350px;
    color:yellow
}
#e {
    width:60%;
    margin: auto;
    color: #bf0a30
}
#ket{
  background-color: #f1f1f1;
}
